version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: swen_dms_postgres
    restart: always
    environment:
      POSTGRES_USER: kendi
      POSTGRES_PASSWORD: kendi
      POSTGRES_DB: dms_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  rest-server:
    build:
      context: .
      dockerfile: SWEN_DMS/Dockerfile
    container_name: swen_dms_rest_server
    restart: always
    depends_on:
      - postgres
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=dms_dev;Username=kendi;Password=kendi"
      ASPNETCORE_ENVIRONMENT: "Development"
    ports:
      - "8080:8080"
  web:
    build:
      context: ./SWEN_DMS.PL
      dockerfile: Dockerfile
    container_name: swen_dms_web
    restart: always
    depends_on:
      - rest-server
    ports:
      - "8085:80"

volumes:
  postgres_data:
